* {
  /* border: red solid 1px; */
  font-family: "Roboto", sans-serif;
}

html {
  height: 100vh;
}

body {
  margin: 0;
  height: 100%;
  background-color: #457b9d;
}

footer {
  font-size: 0.6rem;
  text-align: center;
  padding-bottom: 2rem;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
  font-size: 0.9rem;
  background-color: #396785;
}

input#birthdate::-webkit-calendar-picker-indicator {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  margin: auto;
  flex-direction: column;
}

#birthdateContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
}

#birthdateSubmit {
  width: 6rem;
  border-radius: 5px;
  background-color: #1d3557;
  color: #f1faee;
  border: none;
  width: 4.5rem;
  text-align: center;
  margin-top: 1rem;
}

#footerText {
  display: none;
}
